@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900;1,100&display=swap");
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------------------------*/
/*	General	*/
::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  height: 40%;
  background-color: #111;
  border-radius: 20px; }

html {
  scrollbar-width: thin;
  scrollbar-color: #111 #5a5b5f; }

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  overflow: overlay; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%; }

.container {
  max-width: 83.16239%;
  margin: 0 auto; }

.logo {
  font-family: Lato;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 0.1;
  letter-spacing: 0.05em;
  color: #ffffff;
  white-space: nowrap; }
  .logo:after {
    content: '';
    display: inline-block;
    min-width: 0.2em;
    min-height: 0.2em;
    border-radius: 50%;
    background: #4c76ff; }

/* Nav */
nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 8.46154% 0 8.46154%;
  background: rgba(16, 22, 54, 0.2);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  mix-blend-mode: exclusion; }
  nav:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 22, 54, 0.2);
    z-index: -1; }

.nav__search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0px 30px 0px 15px;
  margin-left: 30px; }
  .nav__search:before {
    content: '|';
    position: absolute;
    left: 0;
    vertical-align: center;
    font-size: inherit;
    opacity: 0.3;
    color: #32b0ee;
    font-size: calc(14px + 4 * ((100vw - 320px) / 1600)); }
  .nav__search input {
    background: transparent;
    color: #fff;
    width: 100%;
    font-family: "Lato";
    font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
    font-weight: 100;
    letter-spacing: 0.05em;
    font-style: italic; }

.nav__link {
  padding: 20px 0;
  margin-left: 30px; }
  .nav__link:first-child {
    margin: 0; }

.nav__link, .nav__anchor {
  display: inline-block;
  font-family: Lato;
  font-size: calc(12px + 5 * ((100vw - 320px) / 1600));
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #ffffff; }

.nav__anchor {
  /* unselectable text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*	---   */
  position: absolute;
  min-height: 100%;
  max-width: 100%;
  color: transparent;
  z-index: -1; }
  .nav__anchor#home {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 4.22)); }
  .nav__anchor#features {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 3)); }
  .nav__anchor#works {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 2)); }
  .nav__anchor#team {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 1.15)); }
  .nav__anchor#contact {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 0.001)); }
  .nav__anchor:before {
    content: '';
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 1px;
    border: 1px solid #4c76ff; }

.nav__bg-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: calc(99 / 1170 * 100%);
  width: calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 4.8);
  height: 2px;
  z-index: 0;
  background: #fff; }

#nav__burger-menu, #nav__burger-menu__btn {
  display: none; }

/* ######### Main ######### */
.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

/* Block1 */
.block1 {
  background: url("../img/body/block_1/bg.jpg") 50% 70%/cover no-repeat;
  height: 100vh;
  z-index: 0; }

.block1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  max-width: 100%; }

.block1__text {
  margin-top: 15.69187%;
  margin-bottom: 15.69187%;
  text-align: center; }

.block1__title {
  font-size: calc(62px + 8 * ((100vw - 320px) / 1600)); }

.block1__subtitle {
  opacity: 0.9;
  font-family: Lato;
  font-size: calc(48px + 4 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: #fff;
  margin: 14px 0 26px 0; }
  .block1__subtitle span {
    color: #4c76ff; }

.block1__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.9;
  font-family: Lato;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: #ffffff;
  padding: 0 10px; }
  .block1__paragraph:before {
    margin-right: 3.4188%; }
  .block1__paragraph:after {
    margin-left: 3.4188%; }
  .block1__paragraph:before, .block1__paragraph:after {
    content: '';
    border: 1px solid #4c76ff;
    display: inline-block;
    max-height: 1px;
    width: 28px; }

.block1__social {
  text-align: center; }

.block1__social__link {
  margin-left: 15px; }
  .block1__social__link:hover img {
    opacity: 1; }
  .block1__social__link:first-child {
    margin: 0; }
  .block1__social__link img {
    width: calc(20px + 5 * ((100vw - 320px) / 1600));
    height: calc(20px + 5 * ((100vw - 320px) / 1600));
    opacity: 0.3;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }

/* Block2 */
.block2 {
  position: relative;
  z-index: 0;
  height: 1000px;
  width: 100%;
  background: #fff; }

/* Block3 */
.block3 {
  position: relative;
  height: 1000px;
  z-index: 0;
  background: #fff; }

/* Block4 */
.block4 {
  position: relative;
  height: 1000px;
  z-index: 0;
  background: #fff; }

/* Block5 */
.block5 {
  position: relative;
  height: 1000px;
  z-index: 0;
  background: #fff; }

/* ########## Media ########## */
@media (max-width: 800px) {
  /* Nav */
  nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #10161e;
    mix-blend-mode: normal; }
  #nav__burger-menu {
    display: block;
    visibility: hidden; }
    #nav__burger-menu:checked ~ .nav__menu {
      visibility: visible; }
    #nav__burger-menu:checked ~ #nav__burger-menu__btn {
      -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      cursor: pointer; }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:before, #nav__burger-menu:checked ~ #nav__burger-menu__btn div:after {
        border: 1px solid #fff;
        border-radius: 0;
        top: -1px; }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:before {
        left: 12px;
        -webkit-transform: translateY(0.5px);
        -ms-transform: translateY(0.5px);
        transform: translateY(0.5px);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:after {
        right: 12px;
        -webkit-transform: translateY(0.5px);
        -ms-transform: translateY(0.5px);
        transform: translateY(0.5px);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div {
        border: 1px solid #fff;
        border-radius: 0;
        left: 13px;
        top: 13px;
        -webkit-transform: scaleY(10);
        -ms-transform: scaleY(10);
        transform: scaleY(10);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  #nav__burger-menu__btn {
    display: block;
    width: 50px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #nav__burger-menu__btn div:before, #nav__burger-menu__btn div:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      border: 3px solid #fff;
      border-radius: 50%;
      top: -3px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    #nav__burger-menu__btn div:before {
      left: 8px; }
    #nav__burger-menu__btn div:after {
      right: 8px; }
    #nav__burger-menu__btn div {
      display: block;
      position: relative;
      left: 11px;
      top: 12px;
      width: 0px;
      text-align: center;
      border: 3px solid #fff;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 20, 0.9);
    visibility: hidden; }
  .nav__link {
    position: relative;
    text-align: right;
    width: 100%;
    padding-right: 2%;
    margin: 0;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    overflow: hidden; }
    .nav__link:hover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      min-width: 100%;
      -webkit-box-shadow: 0px 0px 20px 10px #4c76ff;
      box-shadow: 0px 0px 20px 10px #4c76ff; }
  .nav__anchor {
    visibility: hidden; }
  .nav__bg-overlay {
    display: none; } }

@media (max-width: 400px) {
  .nav__link {
    text-align: center;
    padding-right: 0; } }
