@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,900;1,100&display=swap");
/* Обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*-------------------------*/
/*	General	*/
::-webkit-scrollbar {
  width: 8px;
  background: rgba(255, 255, 255, 0.2); }

::-webkit-scrollbar-thumb {
  height: 40%;
  background-color: #111;
  border-radius: 20px; }

html {
  scrollbar-width: thin;
  scrollbar-color: #111 #5a5b5f; }

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  overflow: overlay;
  overflow-x: hidden; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%; }

.container {
  max-width: 83.16239%;
  margin: 0 auto; }

.logo {
  font-family: Lato;
  font-size: calc(20px + 8 * ((100vw - 320px) / 1600));
  font-weight: 900;
  line-height: 0.1;
  letter-spacing: 0.05em;
  color: #ffffff;
  white-space: nowrap; }
  .logo:after {
    content: '';
    display: inline-block;
    min-width: 0.2em;
    min-height: 0.2em;
    border-radius: 50%;
    background: #4c76ff; }

.title {
  text-align: center;
  font-family: Lato;
  font-size: calc(28px + 8 * ((100vw - 320px) / 1600));
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.02em;
  color: #4c76ff; }
  .title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 229px;
    height: 14px;
    background: url("../img/body/block_header_icon.png");
    margin-top: 32px; }

.subtitle {
  font-family: 'Open Sans';
  font-size: calc(16px + 4 * ((100vw - 320px) / 1600));
  font-weight: 600;
  color: #062033; }

.paragraph {
  font-family: 'Open Sans';
  font-size: calc(11px + 3 * ((100vw - 320px) / 1600));
  line-height: 17px;
  font-weight: 400;
  color: #062033; }

/* Nav */
nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 8.46154% 0 8.46154%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 5;
  background: url("../img/body/block_1/nav-bg.png") calc(100% - calc(calc(99 / 1170 * 100%) + calc(((103px + 63 * ((100vw - 320px) / 1600))) * 3.43 - 1px))) 0/100% no-repeat, url("../img/body/block_1/nav-bg.png") 100% 0/calc(99 / 1170 * 100%) 100% no-repeat; }

.nav__search {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0px 30px 0px 15px;
  margin-left: 30px; }
  .nav__search:before {
    content: '|';
    position: absolute;
    left: 0;
    vertical-align: center;
    font-size: inherit;
    opacity: 0.3;
    color: #32b0ee;
    font-size: calc(14px + 4 * ((100vw - 320px) / 1600)); }
  .nav__search input {
    background: transparent;
    color: #fff;
    width: 100%;
    font-family: "Lato";
    font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
    font-weight: 100;
    letter-spacing: 0.05em;
    font-style: italic; }

.nav__menu {
  background: #101636;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(96%, rgba(16, 22, 54, 0.9)), to(rgba(16, 22, 54, 0.15)));
  background: -webkit-linear-gradient(bottom, rgba(16, 22, 54, 0.9) 96%, rgba(16, 22, 54, 0.15) 100%);
  background: -o-linear-gradient(bottom, rgba(16, 22, 54, 0.9) 96%, rgba(16, 22, 54, 0.15) 100%);
  background: linear-gradient(0deg, rgba(16, 22, 54, 0.9) 96%, rgba(16, 22, 54, 0.15) 100%); }

.nav__link {
  padding: 20px 0;
  margin-left: 30px; }
  .nav__link:first-child {
    margin: 0; }

.nav__link, .nav__anchor {
  display: inline-block;
  font-family: Lato;
  font-size: calc(12px + 5 * ((100vw - 320px) / 1600));
  font-weight: 100;
  letter-spacing: 0.05em;
  color: #ffffff; }

.nav__anchor {
  /* unselectable text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*	---   */
  position: absolute;
  min-height: 100%;
  max-width: 100%;
  color: transparent;
  z-index: 4; }
  .nav__anchor#home {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 4.22)); }
  .nav__anchor#features {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 3)); }
  .nav__anchor#works {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 2)); }
  .nav__anchor#team {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 1.15)); }
  .nav__anchor#contact {
    right: calc(calc(99 / 1170 * 100%) + calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 0.001)); }
  .nav__anchor:before {
    content: '';
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 1px;
    border: 1px solid #4c76ff; }

.nav__bg-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: calc(99 / 1170 * 100%);
  width: calc(((40px + 15 * ((100vw - 320px) / 1600)) + 30px) * 4.8);
  height: 2px;
  z-index: 7;
  background: #fff; }
  .nav__bg-overlay#overlay1 {
    background: #efefef; }

#nav__burger-menu, #nav__burger-menu__btn {
  display: none; }

/* ######### Main ######### */
/* Block1 */
.block1 {
  background: url("../img/body/block_1/bg.jpg") 50% 70%/cover no-repeat;
  height: 100vh;
  width: 100%;
  z-index: 0; }

.block1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  max-width: 100%; }

.block1__text {
  margin-top: 15.69187%;
  margin-bottom: 15.69187%;
  text-align: center; }

.block1__title {
  font-size: calc(62px + 8 * ((100vw - 320px) / 1600)); }

.block1__subtitle {
  opacity: 0.9;
  font-family: Lato;
  font-size: calc(48px + 4 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: #fff;
  margin: 14px 0 26px 0; }
  .block1__subtitle span {
    color: #4c76ff; }

.block1__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.9;
  font-family: Lato;
  font-size: calc(18px + 2 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: #ffffff;
  padding: 0 10px; }
  .block1__paragraph:before {
    margin-right: 3.4188%; }
  .block1__paragraph:after {
    margin-left: 3.4188%; }
  .block1__paragraph:before, .block1__paragraph:after {
    content: '';
    border: 1px solid #4c76ff;
    display: inline-block;
    max-height: 1px;
    width: 28px; }

.block1__social {
  text-align: center; }

.block1__social__link {
  margin-left: 15px; }
  .block1__social__link:hover img {
    opacity: 1; }
  .block1__social__link:first-child {
    margin: 0; }
  .block1__social__link img {
    width: calc(20px + 5 * ((100vw - 320px) / 1600));
    height: calc(20px + 5 * ((100vw - 320px) / 1600));
    opacity: 0.3;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s; }

/* Block2 */
.block2 {
  position: relative;
  z-index: 0;
  width: 100%; }

.block2__text-card {
  position: relative; }
  .block2__text-card:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 34px;
    height: 34px; }

/* Sector1 */
.block2__sector1 {
  padding: 78px 0px 118px;
  background: #efefef; }

.block2__sec1-text-carder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 81px; }

.block2__sec1-text-carder .block2__text-card {
  padding-left: 48px; }
  .block2__sec1-text-carder .block2__text-card:nth-child(1):before {
    background: url("../img/body/block_2/feather_icon.png"); }
  .block2__sec1-text-carder .block2__text-card:nth-child(2) {
    margin: 0 6.83761%; }
    .block2__sec1-text-carder .block2__text-card:nth-child(2):before {
      background: url("../img/body/block_2/pencil_icon.png"); }
  .block2__sec1-text-carder .block2__text-card:nth-child(3):before {
    background: url("../img/body/block_2/megaphone_icon.png"); }

.block2__sec1-subtitle {
  margin-bottom: 19px;
  letter-spacing: -0.02em; }

.block2__sec1-paragraph {
  opacity: 0.7; }

/* Sector2 */
.block2__sector2 {
  padding: 87px 0 136px;
  background: #fff; }

.block2__subtitle {
  text-align: center;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1600));
  line-height: 30px;
  color: #282528;
  margin-bottom: 69px; }

.block2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.block2__sec2-text-carder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .block2__sec2-text-carder .block2__text-card {
    margin-bottom: 9.89876%;
    padding: 15px 10px;
    padding-left: calc(49px + calc(40/(673/1170)*0.1%));
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .block2__sec2-text-carder .block2__text-card:before {
      left: 15px; }
    .block2__sec2-text-carder .block2__text-card:last-child {
      margin-bottom: 0; }
    .block2__sec2-text-carder .block2__text-card:hover {
      background: rgba(247, 227, 39, 0.2); }

#sec2-carder1 .block2__text-card:nth-child(1):before {
  background: url("../img/body/block_2/customize_1_icon.png") 0 0/contain no-repeat; }

#sec2-carder1 .block2__text-card:nth-child(2):before {
  background: url("../img/body/block_2/time_2_icon.png") 0 0/contain no-repeat; }

#sec2-carder1 .block2__text-card:nth-child(3):before {
  background: url("../img/body/block_2/music_3_icon.png") 0 0/contain no-repeat; }

#sec2-carder2 .block2__text-card:nth-child(1):before {
  background: url("../img/body/block_2/support_4_icon.png") 0 0/contain no-repeat; }

#sec2-carder2 .block2__text-card:nth-child(2):before {
  background: url("../img/body/block_2/send_5_icon.png") 0 0/contain no-repeat; }

#sec2-carder2 .block2__text-card:nth-child(3):before {
  background: url("../img/body/block_2/camera_6_icon.svg") 0 0/contain no-repeat; }

.block2__sec2-subtitle {
  font-size: calc(14px + 3 * ((100vw - 320px) / 1600));
  font-weight: 700;
  color: #282528;
  margin-bottom: 19px; }

.block2__sec2-paragraph {
  line-height: 20px;
  color: #282528; }

.block2__iphone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 263px;
  max-width: 263px;
  min-height: 555px;
  background: url("../img/body/block_2/iphone.jpg") no-repeat;
  margin: 0 5.55556%; }
  .block2__iphone img {
    width: 236px;
    height: 407px;
    -o-object-fit: contain;
    object-fit: contain;
    border-radius: 10px;
    border: 8px solid #252527; }
  .block2__iphone:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -56px;
    width: 350px;
    height: 59px;
    background: url("../img/body/block_2/iphone_shadow.jpg") no-repeat; }

/* Block3 */
.block3 {
  position: relative;
  z-index: 0;
  background: #fff; }

.block3__subtitle {
  text-align: center;
  font-family: Lato;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  line-height: 17px;
  font-weight: 100;
  color: #062033;
  opacity: 0.8;
  margin: 45px 0 83px; }

.block3__tabs {
  text-align: center; }
  .block3__tabs > input {
    display: none;
    position: absolute; }

.block3__filter {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: Lato;
  font-size: calc(14px + 4 * ((100vw - 320px) / 1600));
  font-weight: 900;
  color: #062033;
  padding: 10px 20px;
  margin-right: 1.11111%;
  border-radius: 10px; }
  .block3__filter:last-child {
    margin: 0; }

.block3__tabs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 85px; }
  .block3__tabs-content div {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 25%;
    flex: 1 1 25%;
    max-width: 25%;
    min-width: 294px;
    min-height: 221px; }
    .block3__tabs-content div img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
    .block3__tabs-content div:after, .block3__tabs-content div:before {
      display: block;
      padding-top: 40%;
      position: absolute;
      left: 0;
      top: 0;
      min-width: 100%;
      min-height: 100%;
      opacity: 0;
      -webkit-transition: all 0.3s ease 0.3s;
      -o-transition: all 0.3s ease 0.3s;
      transition: all 0.3s ease 0.3s; }
    .block3__tabs-content div:after {
      white-space: pre;
      font-family: 'Open Sans';
      color: #fff;
      font-size: calc(10px + 4 * ((100vw - 320px) / 1600));
      font-weight: 400; }
    .block3__tabs-content div:before {
      background: url("../img/body/block_3/eye_icon.svg") 50% 35%/calc(29/294*100%) calc(29/220*100%) no-repeat, rgba(76, 118, 255, 0.9);
      content: "Labore et dolore magnam";
      white-space: pre;
      font-family: 'Open Sans';
      color: #fff;
      font-size: calc(14px + 2 * ((100vw - 320px) / 1600));
      font-weight: 700; }
    .block3__tabs-content div:hover:after, .block3__tabs-content div:hover:before {
      opacity: 1; }

.branding:after {
  content: "\a\a\a Branding"; }

.web:after {
  content: "\a\a\a Web"; }

.logo_design:after {
  content: "\a\a\a Logo Design"; }

.photography:after {
  content: "\a\a\a Photography"; }

#all:checked + label {
  color: #fff;
  background: #4c76ff; }

#all:checked ~ .block3__tabs-content div {
  max-width: 100%;
  visibility: visible; }

#branding:checked + label {
  color: #fff;
  background: #4c76ff; }

#branding:checked ~ .block3__tabs-content div:not(.branding) {
  position: absolute;
  visibility: hidden; }

#web:checked + label {
  color: #fff;
  background: #4c76ff; }

#web:checked ~ .block3__tabs-content div:not(.web) {
  position: absolute;
  visibility: hidden; }

#logo_design:checked + label {
  color: #fff;
  background: #4c76ff; }

#logo_design:checked ~ .block3__tabs-content div:not(.logo_design) {
  position: absolute;
  visibility: hidden; }

#photography:checked + label {
  color: #fff;
  background: #4c76ff; }

#photography:checked ~ .block3__tabs-content div:not(.photography) {
  position: absolute;
  visibility: hidden; }

/* Block4 */
.block4 {
  position: relative;
  z-index: 0;
  background: #fff;
  text-align: center; }

.block4__title {
  padding: 108px 0 54px; }

.block4__subtitle {
  font-family: Lato;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1600));
  font-weight: 100;
  color: #062033;
  opacity: 0.8; }

.block4__carder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 100px 0 108px; }

.block4__card {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 25%;
  flex: 1 1 25%; }
  .block4__card:not(.block4__card:last-child) {
    margin-right: 2.13675%; }

.block4__cardvisual {
  position: relative; }
  .block4__cardvisual:hover > .block4__cardhover {
    opacity: 1; }
  .block4__cardvisual:hover + .block4__cardname span {
    color: #0eb493; }

.block4__cardimg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover; }

.block4__cardhover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background: rgba(76, 118, 255, 0.9);
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.block4__hoverinfo, .block4__hoverinfo span {
  font-family: Open Sans;
  font-size: calc(13px + 3 * ((100vw - 320px) / 1600));
  line-height: 17px;
  font-weight: 400;
  color: #ffffff; }

.block4__hoverinfo {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  padding: 20px; }
  .block4__hoverinfo span {
    line-height: 19px;
    font-weight: 700; }

.block4__hoversocial {
  padding: 12px 0 20px; }
  .block4__hoversocial a {
    padding: 10px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .block4__hoversocial a:hover {
      background: rgba(0, 0, 0, 0.3); }
  .block4__hoversocial a img {
    margin-top: -0.6em;
    width: calc(20px + 5 * ((100vw - 320px) / 1600));
    height: calc(24px + 5 * ((100vw - 320px) / 1600)); }

.block4__cardname {
  font-family: 'Open Sans';
  font-size: calc(11px + 3 * ((100vw - 320px) / 1600));
  font-weight: 400;
  color: rgba(6, 32, 51, 0.56);
  margin-top: 20px; }
  .block4__cardname span {
    font-size: calc(15px + 3 * ((100vw - 320px) / 1600));
    font-weight: 600;
    color: #062033;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

/* Block5 */
.block5 {
  position: relative;
  z-index: 0;
  background: #fff;
  height: 1000vh; }

/* ########## Media ########## */
@media (max-width: 1200px) {
  .block4__carder {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .block4__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35%;
    flex: 0 1 35%; }
    .block4__card:not(.block4__card:last-child) {
      margin-right: 0; }
    .block4__card:not(.block4__card:nth-child(3)):not(.block4__card:nth-child(4)) {
      margin-bottom: 50px; } }

@media (max-width: 800px) {
  /* Nav */
  nav {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #10161e;
    mix-blend-mode: normal; }
  #nav__burger-menu {
    display: block;
    visibility: hidden; }
    #nav__burger-menu:checked ~ .nav__menu {
      visibility: visible; }
    #nav__burger-menu:checked ~ #nav__burger-menu__btn {
      -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      cursor: pointer; }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:before, #nav__burger-menu:checked ~ #nav__burger-menu__btn div:after {
        border: 1px solid #fff;
        border-radius: 0;
        top: -1px; }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:before {
        left: 12px;
        -webkit-transform: translateY(0.5px);
        -ms-transform: translateY(0.5px);
        transform: translateY(0.5px);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div:after {
        right: 12px;
        -webkit-transform: translateY(0.5px);
        -ms-transform: translateY(0.5px);
        transform: translateY(0.5px);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
      #nav__burger-menu:checked ~ #nav__burger-menu__btn div {
        border: 1px solid #fff;
        border-radius: 0;
        left: 13px;
        top: 13px;
        -webkit-transform: scaleY(10);
        -ms-transform: scaleY(10);
        transform: scaleY(10);
        -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -o-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
  #nav__burger-menu__btn {
    display: block;
    width: 50px;
    height: 30px;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    #nav__burger-menu__btn div:before, #nav__burger-menu__btn div:after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
      border: 3px solid #fff;
      border-radius: 50%;
      top: -3px;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    #nav__burger-menu__btn div:before {
      left: 8px; }
    #nav__burger-menu__btn div:after {
      right: 8px; }
    #nav__burger-menu__btn div {
      display: block;
      position: relative;
      left: 11px;
      top: 12px;
      width: 0px;
      text-align: center;
      border: 3px solid #fff;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background: rgba(10, 10, 20, 0.9);
    visibility: hidden; }
  .nav__link {
    position: relative;
    text-align: right;
    width: 100%;
    padding-right: 2%;
    margin: 0;
    border-top: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    overflow: hidden; }
    .nav__link:hover:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      min-width: 100%;
      -webkit-box-shadow: 0px 0px 20px 10px #4c76ff;
      box-shadow: 0px 0px 20px 10px #4c76ff; }
  .nav__anchor {
    visibility: hidden; }
  .nav__bg-overlay {
    display: none; }
  /*	Block2	*/
  .block2__sec1-text-carder {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .block2__sec1-text-carder .block2__text-card:nth-child(2) {
      margin: 40px 0px; }
  .block2__content {
    position: relative;
    z-index: 0; }
  .block2__iphone {
    position: absolute;
    z-index: -1;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0.25; }
  /* Block 3*/
  .block3__tabs-content div {
    max-width: 100%; }
  /* Block4 */
  .block4__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 60%;
    flex: 0 1 60%; }
    .block4__card:not(.block4__card:last-child) {
      margin-bottom: 50px; } }

@media (max-width: 600px) {
  .nav__link {
    text-align: center;
    padding-right: 0; }
  .block2__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .block2__iphone {
    position: static;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    margin: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 0;
    opacity: 1; }
  .block2__sec2-text-carder .block2__text-card {
    margin: 50px 0 0; }
  .block4__card {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }
  .block4__hoverinfo p {
    max-height: 3.50427em;
    overflow-y: scroll; } }
